<h2>Welocome to Pizza Shop</h2>
<% count = 0%>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <%= product.title %> <br/>
      <img src= "<%= product.path_to_image %>" alt="HTML5 Icon" class="img-rounded" width="240"/> <br />
      <%= product.description %> <br/>
      Size: <%= product.size %> cm <br/>
      Price: <%= product.price %> UAH <br/>
      <button class="btn btn-sm btn-success" onclick="add_to_cart(<%= product.id %>)" >Add to cart</button>
    </div>
    <% count += 1 %>
  <% end %>
</div> <br />

<button class="btn btn-primary" onclick="something()" >Click me!</button>
